<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">New register inform
      card pos</li>
  </ol>
</nav>

<form
  action="/addinfocardspos"
  class="row g-3 needs-validation"
  method="post"
  novalidate
>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Name Operator"
        name="nameoperator"
      />
      <label for="floatingInput">Nome do operador de caixa...</label>
    </div>
    {{! <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
  </div> }}
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Físic Position"
        name="numboxfisic"
      />
      <label for="floatingInput">Número posição física do caixa...</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Logic Position"
        name="numboxlogic"
      />
      <label for="floatingInput">Número posição lógica do caixa...</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Values"
        name="valuepos"
      />
      <label for="floatingInput">Valor pago...</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Name Operator"
        name="nameoperator"
      />
      <label for="floatingInput">Nome do operador de caixa...</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Name Operator"
        name="nameoperator"
      />
      <label for="floatingInput">Nome do operador de caixa...</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Name Operator"
        name="nameoperator"
      />
      <label for="floatingInput">Nome do operador de caixa...</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Name Operator"
        name="nameoperator"
      />
      <label for="floatingInput">Nome do operador de caixa...</label>
    </div>
  </div>
</form>