<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Voltar para a <a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><strong
        style="font-size: 2rem;"
      >
        Novo registro de cartão POS</strong></li>
  </ol>
</nav>
<body>
  {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{alert}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {{/if}}
  <form
    action="/addinfocardspos"
    class="d-flex justify-content-center column g-3 needs-validation"
    method="post"
    novalidate
  >
    <div class="col-6">
      <div class="">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Name Operator"
            name="nameoperator"
            required
          />
          <label for="floatingInput">Nome do operador de caixa...</label>
        </div>
        {{! <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
  </div> }}
      </div>
      <div class="">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Físic Position"
            name="numboxfisic"
            required
          />
          <label for="floatingInput">Número posição física do caixa...</label>
        </div>
      </div>
      <div class="">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Logic Position"
            name="numboxlogic"
            required
          />
          <label for="floatingInput">Número posição lógica do caixa...</label>
        </div>
      </div>
      <div class="">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Values"
            name="valuepos"
            required
          />
          <label for="floatingInput">Valor pago...</label>
        </div>
      </div>
      {{! <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Name Operator"
        name="nameoperator"
      />
      <label for="floatingInput">Nome do operador de caixa...</label>
    </div>
  </div> }}
      <div class="">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Cod Bandeira"
            name="cardpos"
            required
          />
          <label for="floatingInput">Insira tipo e bandeira do cartão...</label>
        </div>
      </div>
      <div class="">
        <div class="form-floating mb-3">
          <input
            type="date"
            value="03-09-2022"
            class="form-control"
            id="floatingInput"
            placeholder="Date Occurrence"
            name="dateregister"
            required
          />
          <label for="floatingInput">Data do pagamento...</label>
        </div>
      </div>

      {{! <div class="">
        <div class="form-floating mb-3">
          <input
            type="date"
            class="form-control"
            id="floatingInput"
            placeholder="Date Occurrence"
            name="dateoccurrence"
            required
          />
          <label for="floatingInput">Data do registro...</label>
        </div>
      </div> }}
      {{! <div class="">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Status"
            name="statusreg"
            style="height: 100px"
          />
          <label for="floatingInput">Informe o STATUS do registro...</label>
        </div>
      </div> }}

      {{! <div class="">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Observacoes"
            name="notes"
            style="height: 100px"
          />
          <label for="floatingInput">Observações...</label>
        </div>
      </div> }}

      <div class="col-12">
        <div class="form-floating mb-3">
          <textarea
            class="form-control"
            id="notes"
            name="notes"
            cols="30"
            rows="10"
            style="height:100px"
          >{{this.notes}}</textarea>
          <label for="floatingInput">Observações...</label>
        </div>
      </div>

      <div class="col-4 d-grid">
        <button type="submit" class="btn btn-primary">Gravar</button>
      </div>
    </div>
  </form>
</body>